@page
@model UserManager.Presentation.Pages.Users.UsersPageModel
@{
}

<body class="p-4">
<form method="post" asp-page-handler="DeleteSelected">
<div class="d-flex mb-3 gap-2">
    <button class="btn btn-outline-primary"><i class="bi bi-lock"></i> Block</button>
    <button class="btn btn-outline-primary"><i class="bi bi-unlock"></i></button>
    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
    <input type="text" class="form-control w-25 ms-auto" placeholder="Filter">
</div>

<table class="table table-hover align-middle">
    <thead>
    <tr>
        <th scope="col"><input type="checkbox" id="select-all" disabled></th>
        <th scope="col">Name</th>
        <th scope="col">Email <span>&darr;</span></th>
        <th scope="col">Last seen</th>
    </tr>
    </thead>
    <tbody>
    <!-- User 1 -->


    @foreach (var user in Model.Users)
    {
        <tr>
            <td>
                <input type="checkbox" name="selectedUserIds" value="@user.Id" class="select-user"/>
            </td>
            <td>
                <div>@user.FirstName , @user.LastName</div>
                <div class="role-muted">@user.Username</div>
            </td>
            <td>@user.Email</td>
            <td>
                <div data-bs-toggle="tooltip" title="5 minutes ago">@user.LastLoginDate.ToString()</div>
                <div>
                    <span class="activity-bar" style="height: 12px"></span>
                    <span class="activity-bar" style="height: 16px"></span>
                    <span class="activity-bar" style="height: 18px"></span>
                    <span class="activity-bar" style="height: 10px"></span>
                    <span class="activity-bar" style="height: 6px"></span>
                </div>
            </td>
        </tr>
    }




    </tbody>
</table>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
        // Tooltiplarni faollashtirish
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })

         document.getElementById("select-all").addEventListener("change", function () {
            var checkboxes = document.querySelectorAll(".select-user");
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });



    </script>
</body>